<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
You can set a new password by clicking <a href="{{ confirmationUrl }}">here</a>.
</body>
</html>